body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  #root {
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }  

  h1 {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-wrap: wrap;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    max-width: 200px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    padding: 5px;
    font-size: 16px;
  }
  
  button {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: flex;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  li input[type="checkbox"] {
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
  }
  
  li span {
    flex-grow: 1;
  }
  
  li button {
    background-color: #dc3545;
  }
  